/* #region SECT-COLORS */
:root{
    --detail: #2C3E50;
    --sec-even: #1ABC9C;
    --find-us: #3A546D;
}

header{
    background-color: var(--detail);
}

section:nth-child(even){
    background-color: var(--sec-even);
    color: white;
    & .star{
        background-color: var(--sec-even);
    }
}

section:nth-child(odd) .star{
        background-color: white;
}

#find-us{
    background-color: var(--find-us) ;
}

footer{
    background-color: var(--detail);
    color: white;
}
/* #endregion SECT-COLORS */

:is(h1, h2, h3, h4, h5, h6){
    margin: 0;
}

header span{
    display: inline-block;
    width: 100%;
}

.rule{
    width: 50%;
    & .star{
        z-index: 1;
        display: inline-block;
    }
}

.rule::after{
    content: '';
    width: 100%;
    border-radius: 20px;
    border-bottom: solid 3px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
}

#contact button{
    background-color: var(--sec-even);
    border-color: var(--sec-even);
    &:hover{
        background-color: #16846e;
        border-color: #16846e;
    }
}

#find-us a{
    aspect-ratio: 1;
}

.ms-fs-bigger{
    font-size: 1.3rem;
}

small{
    font-size: small;
}

.CardPortfolio-overlay{
    display: none;
    background-color: hsla(168, 71%, 30%, 0.5);
    & i{
        color: white;
    }
    .CardPortfolio:hover &{
        display: block;
    }
}

.ms-form-border{
    border-width: 0 0 2px 0;
    border-radius: 0;
}

.ms-form-border:focus{
    box-shadow: none;
    border-color:var(--sec-even);
}

.form-control.ms-textarea-h{
    height: 150px;
}

html {
    scroll-padding-top: 12rem;
}

@media screen and (min-width: 776px){
    html {
        scroll-padding-top: 4rem;
    }
}