/* #region SECT-COLORS */
:root{
    --detail: #2C3E50;
    --sec-even: #1ABC9C;
    --find-us: #3A546D;
}

header{
    background-color: var(--detail);
}

section:nth-child(even){
    background-color: var(--sec-even);
    color: white;
}

#find-us{
    background-color: var(--find-us) ;
}

footer{
    background-color: var(--detail);
    color: white;
}
/* #endregion SECT-COLORS */


.placeholder-btn{
    width: fit-content;
}

#contact button{
    background-color: var(--sec-even);
    border-color: var(--sec-even);
    &:hover{
        background-color: #16846e;
        border-color: #16846e;
    }
}

#find-us button{
    height: 3rem;
    width: 3rem;
}

.ms-fs-bigger{
    font-size: 1.3rem;
}

small{
    font-size: small;
}

@media screen and (min-width: 776px){
    html {
        scroll-padding-top: 4rem;
    }
}