/* #region SECT-COLORS */
:root{
    --detail: #2C3E50;
    --sec-even: #1ABC9C;

}

header{
    background-color: var(--detail);
}

section:nth-child(even){
    background-color: var(--sec-even);
    color: white;
}
/* #endregion SECT-COLORS */


.placeholder-btn{
    width: fit-content;
}